@model Ribbonwood_Gaming_Site.ViewModels.ProductVendorViewModel

@{
    ViewData["Title"] = "Store";
    string pageTitle = (String.IsNullOrEmpty(Model.Vendor)) ? "All Products" : Model.Vendor;
}

<br />
<br />
<br />
    
<h1>@pageTitle</h1>

@if (Model.Products.Count() == 0)
{
    <div class="container">
        <h3 style="color: red">Out of Stock</h3>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
            @if (Model.Vendor == null)
            {
                <th>
                    Vendor
                </th>
                <th>
                    Description
                </th>
            }
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            @if (item.Quantity == 0)
            {
                <td style="color: red">
                    Out of Stock
                </td>
            }
            else
            {
                <td>
                    @String.Format("{0:c}", item.Price)
                </td>
            }
            @if (Model.Vendor == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
            }
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
        </tbody>
    </table>
}

